@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
body{font-family: 'Noto Sans TC', sans-serif;}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

header h1 {
    color: #FFFFFF;
    background-color: #9F8359;
    text-align: center;
}
header .nav {
    text-align: right;
}
header .nav a:link   {
    text-decoration: none;
    color: #075F86;
}
header .nav a:hover {
    text-decoration: line-through;
    color: #86B5E1;
}
.rainbowimg {
    height: 250px;
    background-repeat: repeat;
    background-position: 0px -250px;
    background-size: cover;
    border-radius: 10px;
    background-image: url(assets/pexels-valeria-boltneva-87584.jpg);
}

main article #a01 {
    background-color: #FF0000;
    border-radius: 10px;
    width: 30px;
    padding-left: 10px;
    color: #FFFFFF;
}
main article #a02 {
    background-color: #FF7E00;
    width: 30px;
    border-radius: 10px;
    padding-left: 10px;
    color: #FFFFFF;
}
main article #a03 {
    background-color: #FFF000;
    width: 30px;
    border-radius: 10px;
    padding-left: 10px;
    color: #FFFFFF;
}
main article #a04 {
    background-color: #4DDB44;
    width: 30px;
    border-radius: 10px;
    padding-left: 10px;
    color: #FFFFFF;
}
main article #a05 {
    background-color: #5C5CFF;
    border-radius: 10px;
    width: 30px;
    padding-left: 10px;
    color: #FFFFFF;
}
main article #a06 {
    background-color: #170098;
    width: 30px;
    border-radius: 10px;
    padding-left: 10px;
    color: #FFFFFF;
}
main article #a07 {
    background-color: #8C00FF;
    width: 30px;
    border-radius: 10px;
    padding-left: 10px;
    color: #FFFFFF;
}
main article #a08 {
    background-color: #8D8D8D;
    border-radius: 10px;
    width: 30px;
    padding-left: 10px;
    color: #FFFFFF;
}
.container main .nav {
    color: #E04649;
    text-align: center;



}
footer h6 {
    height: 50px;
    background-color: #9F8359;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    line-height: 50px;
}
